/*----Font & Base Variables----*/
@font-face{
  font-family: "DMSans";
  src: url("assets/fonts/DMSans-VariableFont_opsz-wght.ttf");
  font-style: normal;
  font-display: swap;
}
:root{
  /*----Typography----*/
  --font: "DMSans", sans-serif;

  /*----Colors----*/
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white : hsl(0, 0%, 100%);
  --black : hsl(0, 0%, 7%);
  --bg:hsl(0, 0%, 96%);
}

/*----Reset & Global Style----*/
*, *::after, *::before{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  min-height: 100vh;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
p{
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}
h2{
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}
body{
  background-color: var(--bg);
  font-family: var(--font);
  font-weight:300;
}

/*----Layout Grid----*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 3rem 1rem;
  gap: 1.5rem;
  grid-template-areas: 'col2' 'col3' 'col4' 'col1';  
}
.card{
  border-radius: .7rem;
}
 .grid-container >*, .inside-item{
    display: grid;
    gap: 1.5rem;
}

/*----Individual sections*/
.column-one{
  grid-area: col1;
}
.social{
  background-color: var(--purple-500);
  color: var(--white);
  padding: 2.75rem;
  place-items: center;
  place-content: center;
  text-align: center;  
}
.social h1{
  font-size: 2.8rem;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem ;
}
.social span{
  color: var(--yellow-500);
}
.social img{
  margin-bottom: .5rem;
  padding-inline: 3rem;
}
.social p{
  color: var(--white);
}

.manage{
  background-color: var(--white);
  padding: 1rem;
}
.manage img{
  margin-bottom: 1rem;
}
.maintain{
  background-color: var(--yellow-500);
  padding: 1rem;
  overflow: hidden;
}
.maintain h2{
  margin-bottom:1rem;
}
.maintain img{
  padding-right: 5rem;
  margin-bottom: -2.2rem;
}

.schedule{
  background-color: var(--purple-100);
  padding: 2rem 1rem;
  text-align: center;
  place-items: center;
}
.schedule h2{
  margin-bottom: 1rem;
}
.schedule img{
  margin-bottom: 1rem;
}
.growth{
  background-color: var(--purple-500);
  grid-row: 1;
  padding: 1rem 1.5rem;
  color: var(--white);
  place-items: center;
  text-align: center;
}
.growth h2{
  font-size: 1.7rem;
  margin-top: .5rem;
  margin-inline: 1.4rem;
}

.audience{
  background-color: var(--white);
  padding: 1.5rem;
}
.audience p span{
  font-size: 3rem;
  font-weight: 600;
  display: block;
  margin-bottom: .5rem;
}
.audience p{
  margin-bottom: 1.5rem;
}
.audience img{
  max-width: 12rem;
}
.create{
  background-color: var(--yellow-100);
  padding: 1.5rem;
}
.create h2{
  font-size: 1.90rem;
  margin-bottom: 2rem;
}
.create h2 span{
  font-style: italic;
  color: var(--purple-500);
}
.create img{
  padding-right: 4rem;
}

.write{
  background-color: var(--yellow-500);
  padding: 2.5rem;
}
.write h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.write img{
  padding-right: 0rem;
}

/*----Tablet View-768px----*/

@media screen and (min-width:48rem){
  .grid-container{
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'col2 col3' 'col2 col3' 'col4 col4' 'col1 col1';
    max-width: 75rem;
  }

h2{
  font-size: 1.8rem;
}
  .column-one{
    grid-area: col1;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;   

  } 
.create{
  padding: 3rem;
  place-content: center;
}
.create img{
    padding-right: 0;
}
.write{
  place-content: center;
}
.write h2{
  margin-bottom: 2rem;
}

.column-two{
  grid-area: col2; 
  place-content: center;
  place-items: center;
}

.social img{
    padding-inline: 7rem;
}
.social h1{
  font-size: 3.5rem;
}

.inside-item{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15.75rem;
}
.manage{
  overflow: hidden;
}
.manage img{
  max-width: 20rem;
}
.maintain img{
  padding-right: 0;
  margin-block:  8%;
}

.column-three{
    grid-area: col3;
}
.schedule{
  text-align: left;
  place-content: center;
  overflow: hidden;
}
.schedule h2{
  margin-left: 1.5rem;
  margin-block: 8%;
}
.schedule p{
  margin-left: 1.5rem;
}
.schedule img{
  margin-left: 3rem;  
}

.column-four{
    grid-area: col4;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 15.75rem;
  }
.audience{
    place-content: center;
  }
.audience img{
  max-width: 100%;
}

.growth{
  display: grid;
  grid-column: 2;  
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 1rem;
  overflow: hidden;
}
.growth img{
  grid-column: 1;
}
.growth h2{
  font-size: 2rem;
  margin-inline: 0; 
  margin-bottom: 0;  
}
}

/*----Desktop View-1024px----*/

@media screen and (min-width: 64rem){
  .grid-container{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'col1 col2 col3' 'col1 col2 col3' 'col1 col4 col4';
  }

  .column-one{
    grid-area: col1;
    grid-template-columns: 1fr;
  }
  .column-two{
    grid-area: col2;
  }
  .column-three{
    grid-area: col3;
  }
  .inside-item{
    grid-template-columns: 1fr 1fr;
  }
  .column-four{
    grid-area: col4;
    grid-template-columns: .95fr 2fr;
  }
}
